Manifest.toml
.vscode/

# ignore data files
*.jld2

!data/problem_data/L_town_nv_3_nf_4.jld2
!data/problem_data/modena_nv_3_nf_4.jld2
!data/problem_data/bwfl_2022_05_hw_nv_3_nf_4.jld2


# ignore uploading below files
admm_vanilla_threaded.jl
admm_distributed_ECC23.jl
ECC23_plotting.jl
network_plotting.jl
plots/
